<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dva_uiElements</key>
	<dict>
		<key>collectionViews</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>collectionViews</string>
				<key>dva_localizedIdentifier</key>
				<string>collectionSections</string>
				<key>dva_uiElements</key>
				<dict>
					<key>collectionCells</key>
					<array>
						<dict>
							<key>cellIdentifier</key>
							<string>DVAMSearchUI_iPad_V1_Cell_V1</string>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>86</integer>
								<key>width</key>
								<integer>512</integer>
							</dict>
							<key>dva_element</key>
							<string>collectionCells</string>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>247</integer>
								<key>green</key>
								<integer>247</integer>
								<key>red</key>
								<integer>247</integer>
							</dict>
							<key>color_tint</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>128</integer>
								<key>green</key>
								<integer>122</integer>
								<key>red</key>
								<integer>117</integer>
							</dict>
							<key>dva_localizedIdentifier</key>
							<string>videoCell</string>
							<key>dva_uiElements</key>
							<dict>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>124</integer>
											<key>green</key>
											<integer>124</integer>
											<key>red</key>
											<integer>124</integer>
										</dict>
										<key>color_tint</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>255</integer>
											<key>green</key>
											<integer>255</integer>
											<key>red</key>
											<integer>255</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>sectionsLabels</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>20</integer>
										</dict>
										<key>text</key>
										<string></string>
									</dict>
								</array>
							</dict>
							<key>dva_dynamicValueKey</key>
							<string>search</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<key>views</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>views</string>
				<key>dva_localizedIdentifier</key>
				<string>separatorView</string>
			</dict>
		</array>
		<key>labels</key>
		<array>
			<dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>74</integer>
					<key>green</key>
					<integer>74</integer>
					<key>red</key>
					<integer>74</integer>
				</dict>
				<key>dva_element</key>
				<string>labels</string>
				<key>dva_localizedIdentifier</key>
				<string>sectionsLabels</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>Arapey-Regular</string>
					<key>size</key>
					<integer>28</integer>
				</dict>
				<key>text</key>
				<string>Filtrar por categoría</string>
			</dict>
		</array>
		<key>navigationBars</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>0</integer>
					<key>green</key>
					<integer>0</integer>
					<key>red</key>
					<integer>0</integer>
				</dict>
				<key>dva_element</key>
				<string>navigationBars</string>
				<key>dva_localizedIdentifier</key>
				<string>navigationBarHome</string>
				<key>dva_uiElements</key>
				<dict>
					<key>labels</key>
					<array>
						<dict>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<real>74</real>
								<key>green</key>
								<real>74</real>
								<key>red</key>
								<real>74</real>
							</dict>
							<key>dva_element</key>
							<string>labels</string>
							<key>dva_localizedIdentifier</key>
							<string>sectionTitleLabel</string>
							<key>font</key>
							<dict>
								<key>name</key>
								<string>Arapey-Regular</string>
								<key>size</key>
								<integer>28</integer>
							</dict>
							<key>text</key>
							<string>FILTROS</string>
						</dict>
					</array>
					<key>navigationBackItems</key>
					<array>
						<dict>
							<key>imageName</key>
							<string>backBarButton</string>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>navigationBackItems</string>
							<key>dva_localizedIdentifier</key>
							<string>backBarButton</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<key>dva_screen</key>
	<string>DVAMSearchFilterUI_iPad_V1</string>
	<key>dva_localizedIdentifier</key>
	<string>SearchFilter</string>
</dict>
</plist>
