<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>1</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>samara</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>logoAntic</string>
		</dict>
		<key>text</key>
		<string>Samara</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>2</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>khoa</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>logoAntic</string>
		</dict>
		<key>text</key>
		<string>Khoa</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>3</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>future</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>logoAntic</string>
		</dict>
		<key>text</key>
		<string>Future</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>3</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.anticcolonial.com/wp-content/themes/anticcolonial/scripts/timthumb.php?src=http://www.anticcolonial.com/recursos/img/high/100177094.jpg&amp;w=550&amp;h=550&amp;q=100</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>logoAntic</string>
		</dict>
		<key>text</key>
		<string>Soul Holow</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>3</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.anticcolonial.com/wp-content/themes/anticcolonial/scripts/timthumb.php?src=http://www.anticcolonial.com/recursos/img/high/100190723.jpg&amp;w=550&amp;h=550&amp;q=100</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>logoAntic</string>
		</dict>
		<key>text</key>
		<string>Trend Blanco Almería</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>3</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.anticcolonial.com/wp-content/themes/anticcolonial/scripts/timthumb.php?src=http://www.anticcolonial.com/recursos/img/high/100113817.jpg&amp;w=550&amp;h=550&amp;q=100</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>logoAntic</string>
		</dict>
		<key>text</key>
		<string>Shape Beige Clásico</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>3</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.anticcolonial.com/wp-content/themes/anticcolonial/scripts/timthumb.php?src=http://www.anticcolonial.com/recursos/img/high/100068747.jpg&amp;w=500&amp;h=500&amp;q=100</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>logoAntic</string>
		</dict>
		<key>text</key>
		<string>Phuket Blanco Almería</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>3</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.anticcolonial.com/wp-content/themes/anticcolonial/scripts/timthumb.php?src=http://www.anticcolonial.com/recursos/img/high/100150216.jpg&amp;w=550&amp;h=550&amp;q=100</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>logoAntic</string>
		</dict>
		<key>text</key>
		<string>Shima Blanco Almería</string>
	</dict>
</array>
</plist>
