<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dva_localizedIdentifier</key>
	<string>Home</string>
	<key>dva_screen</key>
	<string>DVAMHomeUI_iPad_V1</string>
	<key>dva_uiElements</key>
	<dict>
		<key>navigationBars</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>navigationBars</string>
				<key>dva_localizedIdentifier</key>
				<string>navigationBarHome</string>
				<key>dva_uiElements</key>
				<dict>
					<key>navigationBarButtons</key>
					<array>
						<dict>
							<key>imageName</key>
							<string>menu</string>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>0</integer>
								<key>green</key>
								<integer>0</integer>
								<key>red</key>
								<integer>0</integer>
							</dict>
							<key>dva_element</key>
							<string>navigationBarButtons</string>
							<key>dva_localizedIdentifier</key>
							<string>menuButton</string>
						</dict>
					</array>
					<key>images</key>
					<array>
						<dict>
							<key>imageName</key>
							<string>logoAntic</string>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>images</string>
							<key>dva_localizedIdentifier</key>
							<string>logoImage</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<key>collectionViews</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>collectionViews</string>
				<key>dva_localizedIdentifier</key>
				<string>collectionSections</string>
				<key>dva_uiElements</key>
				<dict>
					<key>collectionCells</key>
					<array>
						<dict>
							<key>dva_nextConfigEndpoint</key>
							<string>Sections</string>
							<key>cellIdentifier</key>
							<string>DVAMHomeUI_iPad_V1_Cell_V2</string>
							<key>dva_availableChildren</key>
							<array>
								<dict>
									<key>dva_localizedIdentifier</key>
									<string>Productos</string>
									<key>dva_screen</key>
									<string>DVAMHomeUI_iPad_V1</string>
									<key>dva_uiElements</key>
									<dict>
										<key>navigationBars</key>
										<array>
											<dict>
												<key>color_foreground</key>
												<dict>
													<key>alpha</key>
													<integer>1</integer>
													<key>blue</key>
													<integer>0</integer>
													<key>green</key>
													<integer>0</integer>
													<key>red</key>
													<integer>0</integer>
												</dict>
												<key>color_background</key>
												<dict>
													<key>alpha</key>
													<integer>1</integer>
													<key>blue</key>
													<integer>255</integer>
													<key>green</key>
													<integer>255</integer>
													<key>red</key>
													<integer>255</integer>
												</dict>
												<key>dva_element</key>
												<string>navigationBars</string>
												<key>dva_localizedIdentifier</key>
												<string>navigationBarHome</string>
												<key>dva_uiElements</key>
												<dict>
													<key>navigationBackItems</key>
													<array>
														<dict>
															<key>imageName</key>
															<string>backBarButton</string>
															<key>color_foreground</key>
															<dict>
																<key>alpha</key>
																<integer>1</integer>
																<key>blue</key>
																<integer>255</integer>
																<key>green</key>
																<integer>255</integer>
																<key>red</key>
																<integer>255</integer>
															</dict>
															<key>dva_element</key>
															<string>navigationBackItems</string>
															<key>dva_localizedIdentifier</key>
															<string>backBarButton</string>
														</dict>
													</array>
													<key>labels</key>
													<array>
														<dict>
															<key>color_foreground</key>
															<dict>
																<key>alpha</key>
																<integer>1</integer>
																<key>blue</key>
																<real>74</real>
																<key>green</key>
																<real>74</real>
																<key>red</key>
																<real>74</real>
															</dict>
															<key>dva_element</key>
															<string>labels</string>
															<key>dva_localizedIdentifier</key>
															<string>sectionTitleLabel</string>
															<key>font</key>
															<dict>
																<key>name</key>
																<string>Arapey-Regular</string>
																<key>size</key>
																<integer>20</integer>
															</dict>
															<key>text</key>
															<string></string>
														</dict>
														<dict>
															<key>color_foreground</key>
															<dict>
																<key>alpha</key>
																<integer>1</integer>
																<key>blue</key>
																<real>74</real>
																<key>green</key>
																<real>74</real>
																<key>red</key>
																<real>74</real>
															</dict>
															<key>dva_element</key>
															<string>labels</string>
															<key>dva_localizedIdentifier</key>
															<string>sectionSubTitleLabel</string>
															<key>font</key>
															<dict>
																<key>name</key>
																<string>Arapey-Regular</string>
																<key>size</key>
																<integer>10</integer>
															</dict>
															<key>text</key>
															<string>L’ANTIC COLONIAL</string>
														</dict>
													</array>
												</dict>
											</dict>
										</array>
										<key>collectionViews</key>
										<array>
											<dict>
												<key>color_background</key>
												<dict>
													<key>alpha</key>
													<integer>1</integer>
													<key>blue</key>
													<integer>255</integer>
													<key>green</key>
													<integer>255</integer>
													<key>red</key>
													<integer>255</integer>
												</dict>
												<key>dva_element</key>
												<string>collectionViews</string>
												<key>dva_localizedIdentifier</key>
												<string>collectionProducts</string>
												<key>dva_uiElements</key>
												<dict>
													<key>collectionCells</key>
													<array>
														<dict>
															<key>dva_nextConfigEndpoint</key>
															<string>ProductDetail_Config</string>
															<key>cellIdentifier</key>
															<string>DVAMHomeUI_iPad_V1_Cell_V2</string>
															<key>color_background</key>
															<dict>
																<key>alpha</key>
																<integer>1</integer>
																<key>blue</key>
																<integer>255</integer>
																<key>green</key>
																<integer>255</integer>
																<key>red</key>
																<integer>255</integer>
															</dict>
															<key>dva_element</key>
															<string>collectionCells</string>
															<key>dva_localizedIdentifier</key>
															<string>productCell</string>
															<key>dva_uiElements</key>
															<dict>
																<key>labels</key>
																<array>
																	<dict>
																		<key>color_foreground</key>
																		<dict>
																			<key>alpha</key>
																			<integer>1</integer>
																			<key>blue</key>
																			<real>74</real>
																			<key>green</key>
																			<real>74</real>
																			<key>red</key>
																			<real>74</real>
																		</dict>
																		<key>dva_element</key>
																		<string>labels</string>
																		<key>dva_localizedIdentifier</key>
																		<string>sectionsLabels</string>
																		<key>font</key>
																		<dict>
																			<key>name</key>
																			<string>AvenirNext-Regular</string>
																			<key>size</key>
																			<integer>14</integer>
																		</dict>
																		<key>text</key>
																		<string></string>
																	</dict>
																</array>
																<key>views</key>
																<array>
																	<dict>
																		<key>color_background</key>
																		<dict>
																			<key>alpha</key>
																			<integer>1</integer>
																			<key>blue</key>
																			<integer>255</integer>
																			<key>green</key>
																			<integer>255</integer>
																			<key>red</key>
																			<integer>255</integer>
																		</dict>
																		<key>dva_element</key>
																		<string>views</string>
																		<key>dva_localizedIdentifier</key>
																		<string>backgroundColorCell</string>
																	</dict>
																</array>
															</dict>
															<key>dva_dynamicValueKey</key>
															<string>products</string>
														</dict>
													</array>
												</dict>
											</dict>
										</array>
									</dict>
								</dict>
							</array>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>collectionCells</string>
							<key>dva_localizedIdentifier</key>
							<string>homeCell</string>
							<key>dva_uiElements</key>
							<dict>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>sectionsLabels</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>14</integer>
										</dict>
										<key>text</key>
										<string></string>
									</dict>
								</array>
								<key>views</key>
								<array>
									<dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>255</integer>
											<key>green</key>
											<integer>255</integer>
											<key>red</key>
											<integer>255</integer>
										</dict>
										<key>dva_element</key>
										<string>views</string>
										<key>dva_localizedIdentifier</key>
										<string>backgroundColorCell</string>
									</dict>
								</array>
							</dict>
							<key>dva_dynamicValueKey</key>
							<string>sections</string>
						</dict>
					</array>
					<key>collectionReusableHeaders</key>
					<array>
						<dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>591</integer>
								<key>width</key>
								<integer>1024</integer>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_nextConfigEndpoint</key>
							<string>Sections</string>
							<key>dva_element</key>
							<string>collectionReusableHeaders</string>
							<key>dva_localizedIdentifier</key>
							<string>offersHeader</string>
							<key>dva_uiElements</key>
							<dict>
								<key>views</key>
								<array>
									<dict>
										<key>dva_element</key>
										<string>views</string>
										<key>dva_localizedIdentifier</key>
										<string>pageIndicator</string>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<real>0.35</real>
											<key>blue</key>
											<integer>216</integer>
											<key>green</key>
											<integer>216</integer>
											<key>red</key>
											<integer>216</integer>
										</dict>
										<key>color_tint</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>255</integer>
											<key>green</key>
											<integer>255</integer>
											<key>red</key>
											<integer>255</integer>
										</dict>
									</dict>
								</array>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>conoceProdLabel</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>Montserrat-Regular</string>
											<key>size</key>
											<integer>18</integer>
										</dict>
										<key>text</key>
										<string>Conoce nuestros productos</string>
									</dict>
								</array>
								<key>images</key>
								<array>
									<dict>
										<key>dva_dynamicValueKey</key>
										<string>http://www.ideus.com/media/catalog/product/cache/1/small_image/270x216/de9045b01af5680ba4d8df5b0a01fc4e/c/6/c65159efa368fa9700eafd34f72a2a02_1.jpg</string>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>offerImages</string>
									</dict>
								</array>
							</dict>
							<key>dva_dynamicValueKey</key>
							<string>offers</string>
						</dict>
					</array>
					<key>collectionReusableFooters</key>
					<array>
						<dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>177</integer>
								<key>width</key>
								<integer>768</integer>
							</dict>
							<key>cellIdentifier</key>
							<string>DVAMHomeUI_iPad_V1_Footer_V2</string>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>collectionReusableFooters</string>
							<key>dva_localizedIdentifier</key>
							<string>collectionFooter</string>
							<key>dva_uiElements</key>
							<dict>
								<key>images</key>
								<array>
									<dict>
										<key>size</key>
										<dict>
											<key>height</key>
											<integer>20</integer>
											<key>width</key>
											<integer>217</integer>
										</dict>
										<key>imageName</key>
										<string>footerLogoAntic</string>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>logFooterImage</string>
									</dict>
									<dict>
										<key>size</key>
										<dict>
											<key>height</key>
											<integer>78</integer>
											<key>width</key>
											<integer>96</integer>
										</dict>
										<key>imageName</key>
										<string>footerPrince</string>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>logFooterImage</string>
									</dict>
									<dict>
										<key>imageName</key>
										<string>footerMarble</string>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>logFooterFull</string>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
