<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dva_uiElements</key>
	<dict>
		<key>navigationBars</key>
		<array>
			<dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>0</integer>
					<key>green</key>
					<integer>0</integer>
					<key>red</key>
					<integer>0</integer>
				</dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>naigationBars</string>
				<key>dva_localizedIdentifier</key>
				<string>navigationBarHome</string>
				<key>dva_uiElements</key>
				<dict>
					<key>navigationBackItems</key>
					<array>
						<dict>
							<key>imageName</key>
							<string>backBarButton</string>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>navigationBackItems</string>
							<key>dva_localizedIdentifier</key>
							<string>backBarButton</string>
						</dict>
					</array>
					<key>labels</key>
					<array>
						<dict>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>74</integer>
								<key>green</key>
								<integer>74</integer>
								<key>red</key>
								<integer>74</integer>
							</dict>
							<key>dva_element</key>
							<string>labels</string>
							<key>dva_localizedIdentifier</key>
							<string>sectionTitleLabel</string>
							<key>font</key>
							<dict>
								<key>name</key>
								<string>Arapey-Regular</string>
								<key>size</key>
								<integer>20</integer>
							</dict>
							<key>text</key>
							<string>LISTAS DE PRODUCTOS</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<key>tableViews</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>tableViews</string>
				<key>dva_localizedIdentifier</key>
				<string>tableOrderLists</string>
				<key>dva_uiElements</key>
				<dict>
					<key>tableCells</key>
					<array>
						<dict>
							<key>dva_uiElements</key>
							<dict>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>nameLabel</string>
										<key>text</key>
										<string>Cuanto Marte</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Medium</string>
											<key>size</key>
											<integer>15</integer>
										</dict>
									</dict>
								</array>
								<key>buttons</key>
								<array>
									<dict>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>16</integer>
										</dict>
										<key>text</key>
										<string>Editar</string>
										<key>color_selected_background</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>128</integer>
											<key>green</key>
											<integer>122</integer>
											<key>red</key>
											<integer>117</integer>
										</dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>217</integer>
											<key>green</key>
											<integer>164</integer>
											<key>red</key>
											<integer>61</integer>
										</dict>
										<key>color_tint</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>255</integer>
											<key>green</key>
											<integer>255</integer>
											<key>red</key>
											<integer>255</integer>
										</dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>0</integer>
											<key>blue</key>
											<integer>247</integer>
											<key>green</key>
											<integer>247</integer>
											<key>red</key>
											<integer>247</integer>
										</dict>
										<key>dva_element</key>
										<string>buttons</string>
										<key>dva_localizedIdentifier</key>
										<string>editButton</string>
									</dict>
									<dict>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>16</integer>
										</dict>
										<key>text</key>
										<string>Cancelar</string>
										<key>color_selected_background</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>128</integer>
											<key>green</key>
											<integer>122</integer>
											<key>red</key>
											<integer>117</integer>
										</dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>217</integer>
											<key>green</key>
											<integer>164</integer>
											<key>red</key>
											<integer>61</integer>
										</dict>
										<key>color_tint</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>255</integer>
											<key>green</key>
											<integer>255</integer>
											<key>red</key>
											<integer>255</integer>
										</dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>0</integer>
											<key>blue</key>
											<integer>247</integer>
											<key>green</key>
											<integer>247</integer>
											<key>red</key>
											<integer>247</integer>
										</dict>
										<key>dva_element</key>
										<string>buttons</string>
										<key>dva_localizedIdentifier</key>
										<string>editButton</string>
									</dict>
								</array>
								<key>textFields</key>
								<array>
									<dict>
										<key>dva_element</key>
										<string>textFields</string>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_localizedIdentifier</key>
										<string>nameTextField</string>
										<key>text</key>
										<string>Cuanto Marte</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Medium</string>
											<key>size</key>
											<integer>15</integer>
										</dict>
									</dict>
								</array>
							</dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>53</integer>
								<key>width</key>
								<real>1024</real>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>246</integer>
								<key>green</key>
								<integer>242</integer>
								<key>red</key>
								<integer>242</integer>
							</dict>
							<key>dva_element</key>
							<string>tableCells</string>
							<key>dva_localizedIdentifier</key>
							<string>scrollCell</string>
							<key>cellIdentifier</key>
							<string>DVAMOrderDetailUI_iPad_V1_Cell_V1</string>
						</dict>
						<dict>
							<key>dva_uiElements</key>
							<dict>
								<key>images</key>
								<array>
									<dict>
										<key>imageName</key>
										<string>khoa</string>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>0</integer>
											<key>green</key>
											<integer>0</integer>
											<key>red</key>
											<integer>0</integer>
										</dict>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>imageTriangle</string>
									</dict>
								</array>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>productLabel</string>
										<key>text</key>
										<string>Producto:</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Medium</string>
											<key>size</key>
											<integer>20</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>productNameLabel</string>
										<key>text</key>
										<string>Khoa Bioprot</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>15</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>productModelNameLabel</string>
										<key>text</key>
										<string>Crema Dark Classico</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-MediumItalic</string>
											<key>size</key>
											<integer>15</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>amountLabel</string>
										<key>text</key>
										<string>Cantidad</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>15</integer>
										</dict>
									</dict>
									<dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>246</integer>
											<key>green</key>
											<integer>242</integer>
											<key>red</key>
											<integer>241</integer>
										</dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>amountNumberLabel</string>
										<key>text</key>
										<string>1</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>Avenir-Roman</string>
											<key>size</key>
											<integer>25</integer>
										</dict>
									</dict>
								</array>
								<key>buttons</key>
								<array>
									<dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>0</integer>
											<key>blue</key>
											<integer>246</integer>
											<key>green</key>
											<integer>242</integer>
											<key>red</key>
											<integer>241</integer>
										</dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>54</integer>
											<key>green</key>
											<integer>54</integer>
											<key>red</key>
											<integer>54</integer>
										</dict>
										<key>imageName</key>
										<string>close</string>
										<key>dva_element</key>
										<string>buttons</string>
										<key>dva_localizedIdentifier</key>
										<string>deleteButton</string>
									</dict>
									<dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>246</integer>
											<key>green</key>
											<integer>242</integer>
											<key>red</key>
											<integer>241</integer>
										</dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>54</integer>
											<key>green</key>
											<integer>54</integer>
											<key>red</key>
											<integer>54</integer>
										</dict>
										<key>imageName</key>
										<string>substract</string>
										<key>dva_element</key>
										<string>buttons</string>
										<key>dva_localizedIdentifier</key>
										<string>substractButton</string>
									</dict>
									<dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>246</integer>
											<key>green</key>
											<integer>242</integer>
											<key>red</key>
											<integer>241</integer>
										</dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>54</integer>
											<key>green</key>
											<integer>54</integer>
											<key>red</key>
											<integer>54</integer>
										</dict>
										<key>imageName</key>
										<string>add</string>
										<key>dva_element</key>
										<string>buttons</string>
										<key>dva_localizedIdentifier</key>
										<string>addButton</string>
									</dict>
								</array>
							</dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>225</integer>
								<key>width</key>
								<real>1024</real>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>tableCells</string>
							<key>dva_localizedIdentifier</key>
							<string>scrollCell</string>
							<key>cellIdentifier</key>
							<string>DVAMOrderDetailUI_iPad_V1_Cell_V2</string>
						</dict>
						<dict>
							<key>dva_uiElements</key>
							<dict>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<real>0.38</real>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>DESCRIPCIÓN</string>
										<key>dva_localizedIdentifier</key>
										<string>descripcionText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>blue</key>
											<real>74</real>
											<key>alpha</key>
											<real>0.38</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>FORMATO</string>
										<key>dva_localizedIdentifier</key>
										<string>formatoText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>blue</key>
											<real>74</real>
											<key>alpha</key>
											<real>0.38</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>SAP</string>
										<key>dva_localizedIdentifier</key>
										<string>sapText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>blue</key>
											<real>74</real>
											<key>alpha</key>
											<real>0.38</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>KEA</string>
										<key>dva_localizedIdentifier</key>
										<string>keaText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<real>0.38</real>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>GRUPO</string>
										<key>dva_localizedIdentifier</key>
										<string>grupoText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<real>0.38</real>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>PZ/CJ</string>
										<key>dva_localizedIdentifier</key>
										<string>pz_cjText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<real>0.38</real>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>M2/CJ</string>
										<key>dva_localizedIdentifier</key>
										<string>m2_cjText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<real>0.38</real>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>CJ/PAL</string>
										<key>dva_localizedIdentifier</key>
										<string>cj_palText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<real>0.38</real>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>M2/PAL</string>
										<key>dva_localizedIdentifier</key>
										<string>m2_palText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<real>0.38</real>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>KG/CJ</string>
										<key>dva_localizedIdentifier</key>
										<string>kg_cjText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<real>0.38</real>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>KG/PAL</string>
										<key>dva_localizedIdentifier</key>
										<string>kg_palText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
								</array>
							</dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>30</integer>
								<key>width</key>
								<real>1024</real>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>tableCells</string>
							<key>dva_localizedIdentifier</key>
							<string>scrollCell</string>
							<key>cellIdentifier</key>
							<string>DVAMOrderDetailUI_iPad_V1_Cell_V3</string>
						</dict>
						<dict>
							<key>dva_uiElements</key>
							<dict>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>DESCRIPCIÓN</string>
										<key>dva_localizedIdentifier</key>
										<string>descripcionText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>blue</key>
											<real>74</real>
											<key>alpha</key>
											<integer>1</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>FORMATO</string>
										<key>dva_localizedIdentifier</key>
										<string>formatoText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>blue</key>
											<real>74</real>
											<key>alpha</key>
											<integer>1</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>SAP</string>
										<key>dva_localizedIdentifier</key>
										<string>sapText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>blue</key>
											<real>74</real>
											<key>alpha</key>
											<integer>1</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>KEA</string>
										<key>dva_localizedIdentifier</key>
										<string>keaText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>GRUPO</string>
										<key>dva_localizedIdentifier</key>
										<string>grupoText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>PZ/CJ</string>
										<key>dva_localizedIdentifier</key>
										<string>pz_cjText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>M2/CJ</string>
										<key>dva_localizedIdentifier</key>
										<string>m2_cjText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>CJ/PAL</string>
										<key>dva_localizedIdentifier</key>
										<string>cj_palText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>M2/PAL</string>
										<key>dva_localizedIdentifier</key>
										<string>m2_palText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>KG/CJ</string>
										<key>dva_localizedIdentifier</key>
										<string>kg_cjText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>KG/PAL</string>
										<key>dva_localizedIdentifier</key>
										<string>kg_palText</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>11</integer>
										</dict>
									</dict>
								</array>
							</dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>30</integer>
								<key>width</key>
								<real>1024</real>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>tableCells</string>
							<key>dva_localizedIdentifier</key>
							<string>scrollCell</string>
							<key>cellIdentifier</key>
							<string>DVAMOrderDetailUI_iPad_V1_Cell_V3</string>
						</dict>
						<dict>
							<key>dva_uiElements</key>
							<dict>
								<key>views</key>
								<array>
									<dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>218</integer>
											<key>green</key>
											<integer>211</integer>
											<key>red</key>
											<integer>210</integer>
										</dict>
										<key>dva_element</key>
										<string>views</string>
										<key>dva_localizedIdentifier</key>
										<string>separatorView</string>
									</dict>
								</array>
							</dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>20</integer>
								<key>width</key>
								<real>1024</real>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>tableCells</string>
							<key>dva_localizedIdentifier</key>
							<string>scrollCell</string>
							<key>cellIdentifier</key>
							<string>DVAMOrderDetailUI_iPad_V1_Cell_V4</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<key>buttons</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>91</integer>
					<key>green</key>
					<integer>91</integer>
					<key>red</key>
					<integer>91</integer>
				</dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>text</key>
				<string>ENVIAR PRESUPUESTO</string>
				<key>dva_element</key>
				<string>buttons</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>AvenirNext-DemiBold</string>
					<key>size</key>
					<integer>10</integer>
				</dict>
				<key>dva_localizedIdentifier</key>
				<string>presupuestoButton</string>
			</dict>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>91</integer>
					<key>green</key>
					<integer>91</integer>
					<key>red</key>
					<integer>91</integer>
				</dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>text</key>
				<string>ENVIAR POR MAIL</string>
				<key>dva_element</key>
				<string>buttons</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>AvenirNext-DemiBold</string>
					<key>size</key>
					<integer>10</integer>
				</dict>
				<key>dva_localizedIdentifier</key>
				<string>mailButton</string>
			</dict>
		</array>
	</dict>
	<key>dva_screen</key>
	<string>DVAMOrderDetailUI_iPad_V1</string>
	<key>dva_localizedIdentifier</key>
	<string>detail</string>
</dict>
</plist>
