<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>0</string>
		<key>text</key>
		<string>Español</string>
		<key>default</key>
		<true/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1</string>
		<key>text</key>
		<string>Francés</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>2</string>
		<key>text</key>
		<string>Inglés</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>3</string>
		<key>text</key>
		<string>Alemán</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>4</string>
		<key>text</key>
		<string>Italiano</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>5</string>
		<key>text</key>
		<string>Portugués</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>6</string>
		<key>text</key>
		<string>Ruso</string>
		<key>default</key>
		<false/>
	</dict>
	<dict>
		<key>identifier</key>
		<string>7</string>
		<key>text</key>
		<string>Chino</string>
		<key>default</key>
		<false/>
	</dict>
</array>
</plist>
