<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>0</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>piedraNatural</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>baños</string>
		</dict>
		<key>text</key>
		<string>Piedra Natural</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>banos</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>banos</string>
		</dict>
		<key>text</key>
		<string>Baños</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>2</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>maderaNatural</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>baños</string>
		</dict>
		<key>text</key>
		<string>Madera Natural</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>3</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>laminado</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>baños</string>
		</dict>
		<key>text</key>
		<string>Laminado</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>4</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>linkfloor</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>baños</string>
		</dict>
		<key>text</key>
		<string>Linkfloor</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>5</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>tarimaExterior</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>tarimaExterior</string>
		</dict>
		<key>text</key>
		<string>Tarima Exterior</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>6</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>mosaico</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>mosaico</string>
		</dict>
		<key>text</key>
		<string>Mosaicos</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>7</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>ceramica</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>ceramica</string>
		</dict>
		<key>text</key>
		<string>Cerámica</string>
	</dict>
</array>
</plist>
