<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dva_uiElements</key>
	<dict>
		<key>navigationBars</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>navigationBars</string>
				<key>dva_localizedIdentifier</key>
				<string>navigationBarHome</string>
				<key>dva_uiElements</key>
				<dict>
					<key>navigationBarButtons</key>
					<array>
						<dict>
							<key>imageName</key>
							<string>menu</string>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>0</integer>
								<key>green</key>
								<integer>0</integer>
								<key>red</key>
								<integer>0</integer>
							</dict>
							<key>dva_element</key>
							<string>navigationBarButtons</string>
							<key>dva_localizedIdentifier</key>
							<string>menuButton</string>
						</dict>
						<dict>
							<key>imageName</key>
							<string>filter</string>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>0</integer>
								<key>green</key>
								<integer>0</integer>
								<key>red</key>
								<integer>0</integer>
							</dict>
							<key>dva_element</key>
							<string>navigationBackItems</string>
							<key>dva_localizedIdentifier</key>
							<string>backBarButton</string>
							<key>dva_availableChildren</key>
							<array>
								<dict>
									<key>dva_localizedIdentifier</key>
									<string>Info</string>
									<key>dva_screen</key>
									<string>DVAMSearchFilterUI_iPad_V1</string>
									<key>dva_uiElements</key>
									<dict>
										<key>collectionViews</key>
										<array>
											<dict>
												<key>color_background</key>
												<dict>
													<key>alpha</key>
													<integer>1</integer>
													<key>blue</key>
													<integer>255</integer>
													<key>green</key>
													<integer>255</integer>
													<key>red</key>
													<integer>255</integer>
												</dict>
												<key>dva_element</key>
												<string>collectionViews</string>
												<key>dva_localizedIdentifier</key>
												<string>collectionSections</string>
												<key>dva_uiElements</key>
												<dict>
													<key>collectionCells</key>
													<array>
														<dict>
															<key>cellIdentifier</key>
															<string>DVAMSearchUI_iPad_V1_Cell_V1</string>
															<key>dva_element</key>
															<string>collectionCells</string>
															<key>color_background</key>
															<dict>
																<key>alpha</key>
																<integer>1</integer>
																<key>blue</key>
																<integer>247</integer>
																<key>green</key>
																<integer>247</integer>
																<key>red</key>
																<integer>247</integer>
															</dict>
															<key>color_tint</key>
															<dict>
																<key>alpha</key>
																<integer>1</integer>
																<key>blue</key>
																<integer>128</integer>
																<key>green</key>
																<integer>122</integer>
																<key>red</key>
																<integer>117</integer>
															</dict>
															<key>dva_localizedIdentifier</key>
															<string>videoCell</string>
															<key>dva_uiElements</key>
															<dict>
																<key>labels</key>
																<array>
																	<dict>
																		<key>color_foreground</key>
																		<dict>
																			<key>alpha</key>
																			<integer>1</integer>
																			<key>blue</key>
																			<integer>124</integer>
																			<key>green</key>
																			<integer>124</integer>
																			<key>red</key>
																			<integer>124</integer>
																		</dict>
																		<key>color_tint</key>
																		<dict>
																			<key>alpha</key>
																			<integer>1</integer>
																			<key>blue</key>
																			<integer>255</integer>
																			<key>green</key>
																			<integer>255</integer>
																			<key>red</key>
																			<integer>255</integer>
																		</dict>
																		<key>dva_element</key>
																		<string>labels</string>
																		<key>dva_localizedIdentifier</key>
																		<string>sectionsLabels</string>
																		<key>font</key>
																		<dict>
																			<key>name</key>
																			<string>AvenirNext-Regular</string>
																			<key>size</key>
																			<integer>20</integer>
																		</dict>
																		<key>text</key>
																		<string></string>
																	</dict>
																</array>
															</dict>
															<key>dva_dynamicValueKey</key>
															<string>search</string>
														</dict>
													</array>
												</dict>
											</dict>
										</array>
									</dict>
								</dict>
							</array>
							<key>dva_nextConfigEndpoint</key>
							<string>Filter_Config</string>
						</dict>
					</array>
					<key>labels</key>
					<array>
						<dict>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<real>74</real>
								<key>green</key>
								<real>74</real>
								<key>red</key>
								<real>74</real>
							</dict>
							<key>dva_element</key>
							<string>labels</string>
							<key>dva_localizedIdentifier</key>
							<string>sectionSubTitleLabel</string>
							<key>font</key>
							<dict>
								<key>name</key>
								<string>FuturaLT</string>
								<key>size</key>
								<integer>18</integer>
							</dict>
							<key>text</key>
							<string>BUSCADOR</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<key>textFields</key>
		<array>
			<dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>74</integer>
					<key>green</key>
					<integer>74</integer>
					<key>red</key>
					<integer>74</integer>
				</dict>
				<key>color_tint</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>128</integer>
					<key>green</key>
					<integer>122</integer>
					<key>red</key>
					<integer>117</integer>
				</dict>
				<key>dva_element</key>
				<string>labels</string>
				<key>dva_localizedIdentifier</key>
				<string>sectionsLabels</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>AvenirNext-Medium</string>
					<key>size</key>
					<integer>15</integer>
				</dict>
				<key>placeholder</key>
				<string>Buscar por palabra</string>
			</dict>
		</array>
		<key>buttons</key>
		<array>
			<dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>imageName</key>
				<string>closeAlert</string>
				<key>dva_element</key>
				<string>buttons</string>
				<key>dva_localizedIdentifier</key>
				<string>optionButton</string>
			</dict>
		</array>
		<key>views</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>247</integer>
					<key>green</key>
					<integer>247</integer>
					<key>red</key>
					<integer>247</integer>
				</dict>
				<key>dva_element</key>
				<string>views</string>
				<key>dva_localizedIdentifier</key>
				<string>separatorView</string>
			</dict>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>127</integer>
					<key>green</key>
					<integer>118</integer>
					<key>red</key>
					<integer>114</integer>
				</dict>
				<key>dva_element</key>
				<string>views</string>
				<key>dva_localizedIdentifier</key>
				<string>separatorView</string>
			</dict>
		</array>
		<key>labels</key>
		<array>
			<dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>labels</string>
				<key>dva_localizedIdentifier</key>
				<string>sectionsLabels</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>AvenirNext-Medium</string>
					<key>size</key>
					<integer>16</integer>
				</dict>
				<key>text</key>
				<string>Filtros activos:</string>
			</dict>
		</array>
		<key>collectionViews</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>collectionViews</string>
				<key>dva_localizedIdentifier</key>
				<string>collectionSections</string>
				<key>dva_uiElements</key>
				<dict>
					<key>collectionCells</key>
					<array>
						<dict>
							<key>cellIdentifier</key>
							<string>DVAMHomeUI_iPad_V1_Cell_V3</string>
							<key>dva_nextConfigEndpoint</key>
							<string>ProductDetail_Config</string>
							<key>dva_element</key>
							<string>collectionCells</string>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>color_tint</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>128</integer>
								<key>green</key>
								<integer>122</integer>
								<key>red</key>
								<integer>117</integer>
							</dict>
							<key>dva_localizedIdentifier</key>
							<string>videoCell</string>
							<key>dva_dynamicValueKey</key>
							<string>search</string>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>230</integer>
								<key>width</key>
								<integer>224</integer>
							</dict>
							<key>dva_uiElements</key>
							<dict>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>sectionsLabels</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>14</integer>
										</dict>
										<key>text</key>
										<string></string>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>sectionsLabels</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>14</integer>
										</dict>
										<key>text</key>
										<string></string>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>sectionsLabels</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>14</integer>
										</dict>
										<key>text</key>
										<string></string>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>sectionsLabels</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>14</integer>
										</dict>
										<key>text</key>
										<string></string>
									</dict>
								</array>
								<key>views</key>
								<array>
									<dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>255</integer>
											<key>green</key>
											<integer>255</integer>
											<key>red</key>
											<integer>255</integer>
										</dict>
										<key>dva_element</key>
										<string>views</string>
										<key>dva_localizedIdentifier</key>
										<string>backgroundColorCell</string>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
					<key>collectionReusableHeaders</key>
					<array>
						<dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>50</integer>
								<key>width</key>
								<integer>1024</integer>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>collectionReusableHeaders</string>
							<key>dva_localizedIdentifier</key>
							<string>offersHeader</string>
							<key>dva_uiElements</key>
							<dict>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>177</integer>
											<key>green</key>
											<integer>177</integer>
											<key>red</key>
											<integer>177</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>conoceProdLabel</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Medium</string>
											<key>size</key>
											<integer>16</integer>
										</dict>
										<key>text</key>
										<string>Resultados</string>
									</dict>
								</array>
							</dict>
							<key>dva_dynamicValueKey</key>
							<string>offers</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<key>dva_screen</key>
	<string>DVAMSearchUI_iPad_V1</string>
	<key>dva_localizedIdentifier</key>
	<string>Search</string>
</dict>
</plist>
