<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>identifier</key>
	<string>1</string>
	<key>text</key>
	<string>KHOA WHITE</string>
	<key>image</key>
	<dict>
		<key>imageName</key>
		<string>khoaTech</string>
		<key>identifier</key>
		<string>1</string>
	</dict>
	<key>images</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>khoaDetail</string>
			<key>identifier</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imageURL</key>
			<string>http://img.archiexpo.com/images_ae/photo-g/49730-2231689.jpg</string>
			<key>placeholderImageName</key>
			<string>khoaDetail</string>
			<key>identifier</key>
			<string>2</string>
		</dict>
	</array>
	<key>variants</key>
	<array>
		<dict>
			<key>characteristics</key>
			<dict>
				<key>descripcion</key>
				<string>Crema Italia Classico</string>
				<key>formato</key>
				<string>185x90x54</string>
				<key>sap</key>
				<string>100177310</string>
				<key>kea</key>
				<string>L179702936</string>
				<key>grupo</key>
				<string>G-198</string>
				<key>pz_cj</key>
				<integer>1</integer>
				<key>m2_cj</key>
				<real>0</real>
				<key>cj_pal</key>
				<integer>1</integer>
				<key>m2_pal</key>
				<integer>0</integer>
				<key>kg_cj</key>
				<integer>600</integer>
				<key>kg_pal</key>
				<integer>450</integer>
			</dict>
			<key>stock</key>
			<dict>
				<key>identifier</key>
				<string>1</string>
				<key>quantity</key>
				<string>0</string>
				<key>measure</key>
				<string>unit</string>
			</dict>
			<key>price</key>
			<dict>
				<key>identifier</key>
				<string>1</string>
				<key>currency</key>
				<string>€</string>
				<key>price</key>
				<real>39.9</real>
				<key>oldPrice</key>
				<real>45.99</real>
			</dict>
			<key>identifier</key>
			<string>1</string>
			<key>localizedName</key>
			<string>Crema Italia</string>
		</dict>
		<dict>
			<key>characteristics</key>
			<dict>
				<key>descripcion</key>
				<string>Crema White Classico</string>
				<key>formato</key>
				<string>185x90x54</string>
				<key>sap</key>
				<string>100177310</string>
				<key>kea</key>
				<string>L179702936</string>
				<key>grupo</key>
				<string>G-198</string>
				<key>pz_cj</key>
				<integer>1</integer>
				<key>m2_cj</key>
				<real>0</real>
				<key>cj_pal</key>
				<integer>1</integer>
				<key>m2_pal</key>
				<integer>0</integer>
				<key>kg_cj</key>
				<integer>675</integer>
				<key>kg_pal</key>
				<integer>525</integer>
			</dict>
			<key>stock</key>
			<dict>
				<key>identifier</key>
				<string>1</string>
				<key>quantity</key>
				<string>0</string>
				<key>measure</key>
				<string>unit</string>
			</dict>
			<key>price</key>
			<dict>
				<key>identifier</key>
				<string>1</string>
				<key>currency</key>
				<string>€</string>
				<key>price</key>
				<real>39.9</real>
				<key>oldPrice</key>
				<real>45.99</real>
			</dict>
			<key>identifier</key>
			<string>1</string>
			<key>localizedName</key>
			<string>Crema White</string>
		</dict>
		<dict>
			<key>characteristics</key>
			<dict>
				<key>descripcion</key>
				<string>Crema Dark Classico</string>
				<key>formato</key>
				<string>185x90x54</string>
				<key>sap</key>
				<string>100177305</string>
				<key>kea</key>
				<string>L179702936</string>
				<key>grupo</key>
				<string>G-198</string>
				<key>pz_cj</key>
				<integer>1</integer>
				<key>m2_cj</key>
				<real>0</real>
				<key>cj_pal</key>
				<integer>1</integer>
				<key>m2_pal</key>
				<integer>0</integer>
				<key>kg_cj</key>
				<integer>675</integer>
				<key>kg_pal</key>
				<integer>525</integer>
			</dict>
			<key>stock</key>
			<dict>
				<key>identifier</key>
				<string>1</string>
				<key>quantity</key>
				<string>0</string>
				<key>measure</key>
				<string>unit</string>
			</dict>
			<key>price</key>
			<dict>
				<key>identifier</key>
				<string>1</string>
				<key>currency</key>
				<string>€</string>
				<key>price</key>
				<real>39.9</real>
				<key>oldPrice</key>
				<real>45.99</real>
			</dict>
			<key>identifier</key>
			<string>1</string>
			<key>localizedName</key>
			<string>Crema Dark</string>
		</dict>
	</array>
</dict>
</plist>
