<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dva_localizedIdentifier</key>
	<string>VideoGallery</string>
	<key>dva_screen</key>
	<string>DVAMVideoGalleryUI_iPad_V1</string>
	<key>dva_uiElements</key>
	<dict>
		<key>navigationBars</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>navigationBars</string>
				<key>dva_localizedIdentifier</key>
				<string>navigationBarHome</string>
				<key>dva_uiElements</key>
				<dict>
					<key>navigationBarButtons</key>
					<array>
						<dict>
							<key>imageName</key>
							<string>menu</string>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>0</integer>
								<key>green</key>
								<integer>0</integer>
								<key>red</key>
								<integer>0</integer>
							</dict>
							<key>dva_element</key>
							<string>navigationBarButtons</string>
							<key>dva_localizedIdentifier</key>
							<string>menuButton</string>
						</dict>
					</array>
					<key>labels</key>
					<array>
						<dict>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<real>74</real>
								<key>green</key>
								<real>74</real>
								<key>red</key>
								<real>74</real>
							</dict>
							<key>dva_element</key>
							<string>labels</string>
							<key>dva_localizedIdentifier</key>
							<string>sectionSubTitleLabel</string>
							<key>font</key>
							<dict>
								<key>name</key>
								<string>FuturaLT</string>
								<key>size</key>
								<integer>18</integer>
							</dict>
							<key>text</key>
							<string>GALERIA DE VIDEOS</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<key>buttons</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>247</integer>
					<key>green</key>
					<integer>247</integer>
					<key>red</key>
					<integer>247</integer>
				</dict>
				<key>color_tint</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>color_selected_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>128</integer>
					<key>green</key>
					<integer>122</integer>
					<key>red</key>
					<integer>117</integer>
				</dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>124</integer>
					<key>green</key>
					<integer>124</integer>
					<key>red</key>
					<integer>124</integer>
				</dict>
				<key>text</key>
				<string>Todos</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>AvenirNext-Regular</string>
					<key>size</key>
					<integer>14</integer>
				</dict>
				<key>dva_element</key>
				<string>buttons</string>
				<key>dva_localizedIdentifier</key>
				<string>optionButton</string>
			</dict>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>247</integer>
					<key>green</key>
					<integer>247</integer>
					<key>red</key>
					<integer>247</integer>
				</dict>
				<key>color_selected_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>128</integer>
					<key>green</key>
					<integer>122</integer>
					<key>red</key>
					<integer>117</integer>
				</dict>
				<key>color_tint</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>124</integer>
					<key>green</key>
					<integer>124</integer>
					<key>red</key>
					<integer>124</integer>
				</dict>
				<key>text</key>
				<string>Corporativo/Inspiración</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>AvenirNext-Regular</string>
					<key>size</key>
					<integer>14</integer>
				</dict>
				<key>dva_element</key>
				<string>buttons</string>
				<key>dva_localizedIdentifier</key>
				<string>optionButton</string>
			</dict>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>247</integer>
					<key>green</key>
					<integer>247</integer>
					<key>red</key>
					<integer>247</integer>
				</dict>
				<key>color_selected_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>128</integer>
					<key>green</key>
					<integer>122</integer>
					<key>red</key>
					<integer>117</integer>
				</dict>
				<key>color_tint</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>124</integer>
					<key>green</key>
					<integer>124</integer>
					<key>red</key>
					<integer>124</integer>
				</dict>
				<key>text</key>
				<string>Instalación de productos</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>AvenirNext-Regular</string>
					<key>size</key>
					<integer>14</integer>
				</dict>
				<key>dva_element</key>
				<string>buttons</string>
				<key>dva_localizedIdentifier</key>
				<string>optionButton</string>
			</dict>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>247</integer>
					<key>green</key>
					<integer>247</integer>
					<key>red</key>
					<integer>247</integer>
				</dict>
				<key>color_selected_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>128</integer>
					<key>green</key>
					<integer>122</integer>
					<key>red</key>
					<integer>117</integer>
				</dict>
				<key>color_tint</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>124</integer>
					<key>green</key>
					<integer>124</integer>
					<key>red</key>
					<integer>124</integer>
				</dict>
				<key>text</key>
				<string>Ferias/Eventos</string>
				<key>font</key>
				<dict>
					<key>name</key>
					<string>AvenirNext-Regular</string>
					<key>size</key>
					<integer>14</integer>
				</dict>
				<key>dva_element</key>
				<string>buttons</string>
				<key>dva_localizedIdentifier</key>
				<string>optionButton</string>
			</dict>
		</array>
		<key>images</key>
		<array>
			<dict>
				<key>imageName</key>
				<string>anticCellTriangle</string>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>0</integer>
					<key>green</key>
					<integer>0</integer>
					<key>red</key>
					<integer>0</integer>
				</dict>
				<key>dva_element</key>
				<string>images</string>
				<key>dva_localizedIdentifier</key>
				<string>imageTriangle</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>anticCellTriangle</string>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>0</integer>
					<key>green</key>
					<integer>0</integer>
					<key>red</key>
					<integer>0</integer>
				</dict>
				<key>dva_element</key>
				<string>images</string>
				<key>dva_localizedIdentifier</key>
				<string>imageTriangle</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>anticCellTriangle</string>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>0</integer>
					<key>green</key>
					<integer>0</integer>
					<key>red</key>
					<integer>0</integer>
				</dict>
				<key>dva_element</key>
				<string>images</string>
				<key>dva_localizedIdentifier</key>
				<string>imageTriangle</string>
			</dict>
			<dict>
				<key>imageName</key>
				<string>anticCellTriangle</string>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>0</integer>
					<key>green</key>
					<integer>0</integer>
					<key>red</key>
					<integer>0</integer>
				</dict>
				<key>dva_element</key>
				<string>images</string>
				<key>dva_localizedIdentifier</key>
				<string>imageTriangle</string>
			</dict>
		</array>
		<key>collectionViews</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>collectionViews</string>
				<key>dva_localizedIdentifier</key>
				<string>collectionSections</string>
				<key>dva_uiElements</key>
				<dict>
					<key>collectionCells</key>
					<array>
						<dict>
							<key>cellIdentifier</key>
							<string>DVAMVideoGalleryUI_iPad_V1_Cell_V2</string>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>collectionCells</string>
							<key>dva_localizedIdentifier</key>
							<string>videoCell</string>
							<key>dva_uiElements</key>
							<dict>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>sectionsLabels</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>16</integer>
										</dict>
										<key>text</key>
										<string></string>
									</dict>
								</array>
								<key>views</key>
								<array>
									<dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>255</integer>
											<key>green</key>
											<integer>255</integer>
											<key>red</key>
											<integer>255</integer>
										</dict>
										<key>dva_element</key>
										<string>views</string>
										<key>dva_localizedIdentifier</key>
										<string>backgroundColorCell</string>
									</dict>
								</array>
								<key>buttons</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>0</integer>
											<key>green</key>
											<integer>0</integer>
											<key>red</key>
											<integer>0</integer>
										</dict>
										<key>color_tint</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>255</integer>
											<key>green</key>
											<integer>255</integer>
											<key>red</key>
											<integer>255</integer>
										</dict>
										<key>imageName</key>
										<string>play</string>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>playImage</string>
									</dict>
								</array>
							</dict>
							<key>dva_dynamicValueKey</key>
							<string>video</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
