<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dva_uiElements</key>
	<dict>
		<key>tableViews</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>tableViews</string>
				<key>dva_localizedIdentifier</key>
				<string>tableViewCompany</string>
				<key>dva_uiElements</key>
				<dict>
					<key>tableCells</key>
					<array>
						<dict>
							<key>dva_uiElements</key>
							<dict>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>255</integer>
											<key>green</key>
											<integer>255</integer>
											<key>red</key>
											<integer>255</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>nameLabel</string>
										<key>text</key>
										<string>L&apos;ANTIC COLONIAL</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>Arapey-Regular</string>
											<key>size</key>
											<integer>30</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>header</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>Arapey-Regular</string>
											<key>size</key>
											<integer>25</integer>
										</dict>
										<key>text</key>
										<string>Sobre nosotros</string>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>bodyAboutUs</string>
										<key>text</key>
										<string>A finales del año 1.999 nace L’Antic Colonial con la misión de satisfacer la creciente demanda de productos naturales de alta calidad.

Por ese motivo y, sobretodo gracias a los clientes que necesitan que una marca como Porcelanosa abarque todos los segmentos del revestimiento de suelos y paredes hemos ido creciendo hasta posicionarnos en la vanguardia del mercado de productos naturales.

Después de 16 años seguimos trabajando con la ilusión del primer día para poder llegar a ofrecer a los clientes un momento de inspiración y de exclusividad para sus espacios en los que solo los materiales nobles tienen cabida.</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>14</integer>
										</dict>
									</dict>
								</array>
								<key>images</key>
								<array>
									<dict>
										<key>imageName</key>
										<string>anticContact1</string>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>contact1</string>
									</dict>
								</array>
							</dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>414</integer>
								<key>width</key>
								<integer>1024</integer>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>tableCells</string>
							<key>dva_localizedIdentifier</key>
							<string>aboutUs</string>
							<key>cellIdentifier</key>
							<string>DVAMContactUI_iPad_V2_Cell_V1</string>
						</dict>
						<dict>
							<key>dva_uiElements</key>
							<dict>
								<key>images</key>
								<array>
									<dict>
										<key>imageName</key>
										<string>anticContactMap</string>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>contactMap</string>
									</dict>
								</array>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>contactoLabel</string>
										<key>text</key>
										<string>Contacto</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>Arapey-Regular</string>
											<key>size</key>
											<integer>25</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>text</key>
										<string>L’ANTIC COLONIAL
Porcelanosa Grupo

Ctra. Nacional 340 km. 54
12540 Vila-real
CASTELLÓN – SPAIN

Tel.: (+34) 964 53 45 45

Fax: (+34) 964 52 42 58</string>
										<key>dva_localizedIdentifier</key>
										<string>header</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>15</integer>
										</dict>
									</dict>
								</array>
								<key>views</key>
								<array>
									<dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>247</integer>
											<key>green</key>
											<integer>247</integer>
											<key>red</key>
											<integer>247</integer>
										</dict>
										<key>dva_element</key>
										<string>views</string>
										<key>dva_localizedIdentifier</key>
										<string>backView</string>
									</dict>
								</array>
							</dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>414</integer>
								<key>width</key>
								<integer>1024</integer>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>tableCells</string>
							<key>dva_localizedIdentifier</key>
							<string>aboutUs</string>
							<key>cellIdentifier</key>
							<string>DVAMContactUI_iPad_V2_Cell_V2</string>
						</dict>
						<dict>
							<key>dva_uiElements</key>
							<dict>
								<key>views</key>
								<array>
									<dict>
										<key>color_background</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>141</integer>
											<key>green</key>
											<integer>160</integer>
											<key>red</key>
											<integer>191</integer>
										</dict>
										<key>dva_element</key>
										<string>views</string>
										<key>dva_localizedIdentifier</key>
										<string>backView</string>
									</dict>
								</array>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>255</integer>
											<key>green</key>
											<integer>255</integer>
											<key>red</key>
											<integer>255</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>nameLabel</string>
										<key>text</key>
										<string>COMPROMISO
MEDIOAMBIENTAL</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>Arapey-Regular</string>
											<key>size</key>
											<integer>30</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>header</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>Arapey-Regular</string>
											<key>size</key>
											<integer>25</integer>
										</dict>
										<key>text</key>
										<string>Valores</string>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>bodyAboutUs</string>
										<key>text</key>
										<string>Los suelos de madera natural son una de las opciones más respetuosas con el medio ambiente del mercado. Se trata de un producto renovable y sostenible que supone la mejor elección par una “vivienda verde”.

La madera natural es uno de los materiales mas abundantes en la naturaleza. Una gestión forestal sostenible permite el uso de esta materia prima sin ningún impacto sobre el medio ambiente.

En L’Antic Colonial unicamente utilizamos madera proveniente de bosques sostenibles. Zonas forestales controladas en las que se cultivan muchos más arboles de los que se talan. De este modo aseguramos la creación constante de nuevos espacios verdes a la vez que reducimos el efecto negativo que el dióxido de carbono tiene en la atmósfera.


Además, el proceso de fabricación e instalación de pavimentos de madera consume mucha menos energía que cualquier otro material de construcción.

En la actualidad, la popularidad de los suelos de madera natural se ha incrementado considerablemente, lo que ha provocado el mayor consumo de esta materia prima. Paralelamente, también se ha consolidado el compromiso con el medio ambiente por parte de las empresas productoras de estos suelos.

En L’Antic Colonial tomamos ese compromiso desde el primer día. Así lo demuestras las certificaciones ambientales que poseen nuestros productos de madera natural.</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>14</integer>
										</dict>
									</dict>
								</array>
								<key>images</key>
								<array>
									<dict>
										<key>imageName</key>
										<string>anticContact2</string>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>contact2</string>
									</dict>
									<dict>
										<key>imageName</key>
										<string>anticContact3</string>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>contact3</string>
									</dict>
								</array>
							</dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>829</integer>
								<key>width</key>
								<real>1024</real>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>tableCells</string>
							<key>dva_localizedIdentifier</key>
							<string>aboutUs</string>
							<key>cellIdentifier</key>
							<string>DVAMContactUI_iPad_V2_Cell_V3</string>
						</dict>
						<dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>274</integer>
								<key>width</key>
								<real>1024</real>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>tableCells</string>
							<key>dva_localizedIdentifier</key>
							<string>footerCell</string>
							<key>dva_uiElements</key>
							<dict>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>nameLabel</string>
										<key>text</key>
										<string>Síguenos en</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>Arapey-Regular</string>
											<key>size</key>
											<integer>30</integer>
										</dict>
									</dict>
								</array>
								<key>images</key>
								<array>
									<dict>
										<key>imageName</key>
										<string>footerMarble</string>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>logFooterFull</string>
									</dict>
									<dict>
										<key>size</key>
										<dict>
											<key>height</key>
											<integer>20</integer>
											<key>width</key>
											<integer>217</integer>
										</dict>
										<key>imageName</key>
										<string>footerLogoAntic</string>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>logFooterImage</string>
									</dict>
									<dict>
										<key>size</key>
										<dict>
											<key>height</key>
											<integer>78</integer>
											<key>width</key>
											<integer>96</integer>
										</dict>
										<key>imageName</key>
										<string>footerPrince</string>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<real>74</real>
											<key>green</key>
											<real>74</real>
											<key>red</key>
											<real>74</real>
										</dict>
										<key>dva_element</key>
										<string>images</string>
										<key>dva_localizedIdentifier</key>
										<string>logFooterImage</string>
									</dict>
								</array>
								<key>buttons</key>
								<array>
									<dict>
										<key>url</key>
										<string>http://www.develapps.es</string>
										<key>imageName</key>
										<string>twitterIcon</string>
										<key>dva_element</key>
										<string>buttons</string>
										<key>dva_localizedIdentifier</key>
										<string>twitterButton</string>
									</dict>
									<dict>
										<key>url</key>
										<string>http://www.develapps.es</string>
										<key>imageName</key>
										<string>facebookIcon</string>
										<key>dva_element</key>
										<string>buttons</string>
										<key>dva_localizedIdentifier</key>
										<string>facebookIcon</string>
									</dict>
									<dict>
										<key>url</key>
										<string>http://www.develapps.es</string>
										<key>imageName</key>
										<string>anticInstagramIcon</string>
										<key>dva_element</key>
										<string>buttons</string>
										<key>dva_localizedIdentifier</key>
										<string>instagramButton</string>
									</dict>
									<dict>
										<key>url</key>
										<string>http://www.develapps.es</string>
										<key>imageName</key>
										<string>anticHouzzIcon</string>
										<key>dva_element</key>
										<string>buttons</string>
										<key>dva_localizedIdentifier</key>
										<string>anticHouzzIcon</string>
									</dict>
								</array>
							</dict>
							<key>cellIdentifier</key>
							<string>DVAMContactUI_iPad_V2_Cell_V4</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<key>navigationBars</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>0</integer>
					<key>green</key>
					<integer>0</integer>
					<key>red</key>
					<integer>0</integer>
				</dict>
				<key>dva_element</key>
				<string>navigationBars</string>
				<key>dva_localizedIdentifier</key>
				<string>navigationBarHome</string>
				<key>dva_uiElements</key>
				<dict>
					<key>navigationBarButtons</key>
					<array>
						<dict>
							<key>imageName</key>
							<string>menu</string>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>0</integer>
								<key>green</key>
								<integer>0</integer>
								<key>red</key>
								<integer>0</integer>
							</dict>
							<key>dva_element</key>
							<string>navigationBarButtons</string>
							<key>dva_localizedIdentifier</key>
							<string>menuButton</string>
						</dict>
					</array>
					<key>labels</key>
					<array>
						<dict>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<real>74</real>
								<key>green</key>
								<real>74</real>
								<key>red</key>
								<real>74</real>
							</dict>
							<key>dva_element</key>
							<string>labels</string>
							<key>dva_localizedIdentifier</key>
							<string>sectionSubTitleLabel</string>
							<key>font</key>
							<dict>
								<key>name</key>
								<string>Arapey-Regular</string>
								<key>size</key>
								<integer>20</integer>
							</dict>
							<key>text</key>
							<string>EMPRESA</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<key>dva_screen</key>
	<string>DVAMContactUI_iPad_V2</string>
	<key>dva_localizedIdentifier</key>
	<string>EMPRESA</string>
</dict>
</plist>
