<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>1</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://defqon1.com.au/wp-content/uploads/0064_kevin_4188-1000x500.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>baños</string>
		</dict>
		<key>text</key>
		<string>IX Premios Arquitectura e Interiorismo - Porcelanosa</string>
		<key>video</key>
		<string>http://video.dailymail.co.uk/video/mol/test/2016/09/21/5739239377694275356/1024x576_MP4_5739239377694275356.mp4</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.madridedm.com/wp-content/uploads/2015/03/Defqon.1-madridedm.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>baños</string>
		</dict>
		<key>text</key>
		<string>Porcelanosa L’Antic Colonial - Showroom 2017</string>
		<key>video</key>
		<string>http://video.dailymail.co.uk/video/mol/test/2016/09/21/5739239377694275356/1024x576_MP4_5739239377694275356.mp4</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://mdmelectro.com/home/images/DEFQON.1.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>baños</string>
		</dict>
		<key>text</key>
		<string>Porcelanosa Premium Collection 2017</string>
		<key>video</key>
		<string>http://video.dailymail.co.uk/video/mol/test/2016/09/21/5739239377694275356/1024x576_MP4_5739239377694275356.mp4</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>https://s-media-cache-ak0.pinimg.com/originals/bb/1f/c0/bb1fc0c51e7cafc487316fea576070a5.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>baños</string>
		</dict>
		<key>text</key>
		<string>Espacio Terma - Terma Space</string>
		<key>video</key>
		<string>http://video.dailymail.co.uk/video/mol/test/2016/09/21/5739239377694275356/1024x576_MP4_5739239377694275356.mp4</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://mdmelectro.com/home/images/videos/15369106_1205726092853571_4098929023540647818_o.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>baños</string>
		</dict>
		<key>text</key>
		<string>penultimo</string>
		<key>video</key>
		<string>http://video.dailymail.co.uk/video/mol/test/2016/09/21/5739239377694275356/1024x576_MP4_5739239377694275356.mp4</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>1</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>https://i0.wp.com/edmred.com/wp-content/uploads/2016/07/Defqon.-1-EDMred.png?resize=660%2C330</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>baños</string>
		</dict>
		<key>text</key>
		<string>ultimo</string>
		<key>video</key>
		<string>http://video.dailymail.co.uk/video/mol/test/2016/09/21/5739239377694275356/1024x576_MP4_5739239377694275356.mp4</string>
	</dict>
</array>
</plist>
