<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dva_localizedIdentifier</key>
	<string>rows</string>
	<key>dva_screen</key>
	<string>DVAMOrderListsUI_iPad_V1</string>
	<key>dva_uiElements</key>
	<dict>
		<key>navigationBars</key>
		<array>
			<dict>
				<key>color_foreground</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>0</integer>
					<key>green</key>
					<integer>0</integer>
					<key>red</key>
					<integer>0</integer>
				</dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>255</integer>
					<key>green</key>
					<integer>255</integer>
					<key>red</key>
					<integer>255</integer>
				</dict>
				<key>dva_element</key>
				<string>naigationBars</string>
				<key>dva_localizedIdentifier</key>
				<string>navigationBarHome</string>
				<key>dva_uiElements</key>
				<dict>
					<key>navigationBarButtons</key>
					<array>
						<dict>
							<key>imageName</key>
							<string>menu</string>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>0</integer>
								<key>green</key>
								<integer>0</integer>
								<key>red</key>
								<integer>0</integer>
							</dict>
							<key>dva_element</key>
							<string>navigationBarButtons</string>
							<key>dva_localizedIdentifier</key>
							<string>menuButton</string>
						</dict>
					</array>
					<key>labels</key>
					<array>
						<dict>
							<key>color_foreground</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>74</integer>
								<key>green</key>
								<integer>74</integer>
								<key>red</key>
								<integer>74</integer>
							</dict>
							<key>dva_element</key>
							<string>labels</string>
							<key>dva_localizedIdentifier</key>
							<string>sectionTitleLabel</string>
							<key>font</key>
							<dict>
								<key>name</key>
								<string>FuturaLT</string>
								<key>size</key>
								<integer>18</integer>
							</dict>
							<key>text</key>
							<string>MIS LISTAS</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
		<key>tableViews</key>
		<array>
			<dict>
				<key>color_background</key>
				<dict>
					<key>alpha</key>
					<integer>1</integer>
					<key>blue</key>
					<integer>247</integer>
					<key>green</key>
					<integer>247</integer>
					<key>red</key>
					<integer>247</integer>
				</dict>
				<key>dva_element</key>
				<string>tableViews</string>
				<key>dva_localizedIdentifier</key>
				<string>tableOrderLists</string>
				<key>dva_uiElements</key>
				<dict>
					<key>tableCells</key>
					<array>
						<dict>
							<key>dva_nextConfigEndpoint</key>
							<string>OrderListDetail_Config</string>
							<key>dva_uiElements</key>
							<dict>
								<key>labels</key>
								<array>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>nameLabel</string>
										<key>text</key>
										<string>CUARTO DE BAÑO CASA DE SAGUNTO</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Medium</string>
											<key>size</key>
											<integer>16</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>numberLabel</string>
										<key>text</key>
										<string>4</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Bold</string>
											<key>size</key>
											<integer>16</integer>
										</dict>
									</dict>
									<dict>
										<key>color_foreground</key>
										<dict>
											<key>alpha</key>
											<integer>1</integer>
											<key>blue</key>
											<integer>74</integer>
											<key>green</key>
											<integer>74</integer>
											<key>red</key>
											<integer>74</integer>
										</dict>
										<key>dva_element</key>
										<string>labels</string>
										<key>dva_localizedIdentifier</key>
										<string>productsListLabel</string>
										<key>text</key>
										<string>PRODUCTOS EN LA LISTA</string>
										<key>font</key>
										<dict>
											<key>name</key>
											<string>AvenirNext-Regular</string>
											<key>size</key>
											<integer>16</integer>
										</dict>
									</dict>
								</array>
							</dict>
							<key>size</key>
							<dict>
								<key>height</key>
								<integer>105</integer>
								<key>width</key>
								<real>1024</real>
							</dict>
							<key>color_background</key>
							<dict>
								<key>alpha</key>
								<integer>1</integer>
								<key>blue</key>
								<integer>255</integer>
								<key>green</key>
								<integer>255</integer>
								<key>red</key>
								<integer>255</integer>
							</dict>
							<key>dva_element</key>
							<string>tableCells</string>
							<key>dva_localizedIdentifier</key>
							<string>scrollCell</string>
							<key>cellIdentifier</key>
							<string>DVAMOrderListsUI_iPad_V1_Cell_V1</string>
							<key>dva_dynamicValueKey</key>
							<string>productsLists</string>
						</dict>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
