<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>1</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.ideus.com/blog/wp-content/uploads/2016/11/161114_ip7.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>fundas</string>
		</dict>
		<key>text</key>
		<string>Fundas para Móvil</string>
	</dict>
	<dict>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>carga</string>
			<key>identifier</key>
			<string>2</string>
			<key>placeholderImageName</key>
			<string>carga</string>
		</dict>
		<key>identifier</key>
		<string>2</string>
		<key>text</key>
		<string>Carga y Conectividad</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>3</string>
		<key>image</key>
		<dict>
			<key>identifier</key>
			<string>2</string>
			<key>imageName</key>
			<string>salud</string>
			<key>placeholderImageName</key>
			<string>salud</string>
		</dict>
		<key>text</key>
		<string>Salud</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>4</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>audio</string>
			<key>identifier</key>
			<string>2</string>
			<key>placeholderImageName</key>
			<string>audio</string>
		</dict>
		<key>text</key>
		<string>Audio</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>5</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>audio</string>
			<key>identifier</key>
			<string>2</string>
			<key>placeholderImageName</key>
			<string>audio</string>
		</dict>
		<key>text</key>
		<string>Telefonía</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>6</string>
		<key>image</key>
		<dict>
			<key>imageName</key>
			<string>audio</string>
			<key>identifier</key>
			<string>2</string>
			<key>placeholderImageName</key>
			<string>audio</string>
		</dict>
		<key>text</key>
		<string>Otros Accesorios</string>
	</dict>
	<dict>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.ideus.com/media/catalog/product/cache/1/small_image/270x216/de9045b01af5680ba4d8df5b0a01fc4e/1/f/1f666072252ec5cab392314e16c51b22_1.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>fundas</string>
		</dict>
		<key>identifier</key>
		<string>7</string>
		<key>text</key>
		<string>Informática</string>
	</dict>
</array>
</plist>
