<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>identifier</key>
		<string>1</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.ideus.com/media/catalog/product/cache/1/small_image/270x216/de9045b01af5680ba4d8df5b0a01fc4e/9/b/9bffd16bdc40d82048103d4b6bc075bd_1_33.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>fundas</string>
		</dict>
		<key>text</key>
		<string>Móviles</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>2</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.ideus.com/media/catalog/product/cache/1/small_image/270x216/de9045b01af5680ba4d8df5b0a01fc4e/f/e/fe87d98b3ead1c3d1403c88d5adcf58c_1_5.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>fundas</string>
		</dict>
		<key>text</key>
		<string>Tablets</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>3</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.ideus.com/media/catalog/product/cache/1/small_image/270x216/de9045b01af5680ba4d8df5b0a01fc4e/f/7/f72efe28780f00c6c46fdcab218f6777_1_4.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>fundas</string>
		</dict>
		<key>text</key>
		<string>eBooks</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>4</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.ideus.com/media/catalog/product/cache/1/small_image/270x216/de9045b01af5680ba4d8df5b0a01fc4e/9/f/9f1929235d4fd2ae16a857a3f045d073_1_4.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>fundas</string>
		</dict>
		<key>text</key>
		<string>GPS</string>
	</dict>
	<dict>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.ideus.com/media/catalog/product/cache/1/small_image/270x216/de9045b01af5680ba4d8df5b0a01fc4e/4/d/4da0b64ad2968103f8942317c85f798c_1_1.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>fundas</string>
		</dict>
		<key>identifier</key>
		<string>5</string>
		<key>text</key>
		<string>Gaming</string>
	</dict>
	<dict>
		<key>identifier</key>
		<string>6</string>
		<key>text</key>
		<string>Ordenador</string>
		<key>image</key>
		<dict>
			<key>imageURL</key>
			<string>http://www.ideus.com/media/catalog/product/cache/1/small_image/270x216/de9045b01af5680ba4d8df5b0a01fc4e/d/d/dd828d24b9f09c3211ee803c35b6a349_1_1.jpg</string>
			<key>identifier</key>
			<string>1</string>
			<key>placeholderImageName</key>
			<string>fundas</string>
		</dict>
	</dict>
</array>
</plist>
